<div ng-controller="loginController as model">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-left paddingExtra">
                <a href="#!/">
                    <span class="glyphicon glyphicon-chevron-left pull-left navbar-link"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand no-left-padding no-left-margin" href="#!/login">
                    Login
                </a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div ng-show="model.message">
            <h3 class="alert alert-info">{{model.message}}</h3>
        </div>
        <div ng-show="model.error">
            <h3 class="alert alert-warning">{{model.error}}</h3>
        </div>
        <label for="username">Username</label>
        <input ng-model="username"
               type="text"
               id="username"
               class="form-control"
               placeholder="username"/>
        <span ng-show="model.unameerror">
            <h3 class="alert alert-danger">{{model.unameerror}}</h3>
        </span>
        <label for="password">Password</label>
        <input ng-model="password"
               type="password"
               id="password"
               class="form-control"
               placeholder="password"/>
        <span ng-show="model.passerror">
            <h3 class="alert alert-danger">{{model.passerror}}</h3>
        </span>
        <input ng-click="model.login(username, password)"
               class="btn btn-primary btn-block"
               type="submit"
               value="Login">
        <a class="btn btn-success btn-block"
           href="#!/register">Register</a>
        <a href="/auth/google" class="btn btn-danger btn-block">
            <span class="fa fa-google-plus"></span>
            Google
        </a>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-text pull-right paddingRight">
            </div>
        </div>
    </nav>
</div>