<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a ng-click="model.update(model.user)" class="navbar-link">
                <span class="glyphicon glyphicon-ok pull-right"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand no-left-padding no-left-margin" href="">
                Profile
            </a>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div ng-show="model.error" class="alert alert-info">
        {{model.error}}
    </div>
    <div ng-show="model.message" class="alert alert-success">
        {{model.message}}
    </div>
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username" type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input ng-model="model.user.email" type="email" class="form-control" id="email"
                   placeholder="alice@wonderland.com">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="model.user.firstName" type="text" class="form-control" id="first-name" placeholder="Alice">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="model.user.lastName" type="text" class="form-control" id="last-name"
                   placeholder="Wonderland">
        </div>
    </form>

    <a class="btn btn-primary btn-block"
       href="#!/user/{{model.user._id}}/website">Websites</a>
    <a class="btn btn-warning  btn-block"
       ng-click="model.logout()">Logout</a>
    <a class="btn btn-danger  btn-block"
       ng-click="model.unRegister()">Unregister</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right paddingRight">
            <a>
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>