<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand no-left-padding no-left-margin" href="#!/register">
                Register
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-show="model.error" class="alert alert-warning">
        {{model.error}}
    </div>
    <input type="text"
           id="username"
           ng-model="username"
           class="form-control"
           placeholder="username"/>
    <span ng-show="model.unameerror">
            <h3 class="alert alert-danger">{{model.unameerror}}</h3>
    </span>
    <input type="password"
           id="password"
           ng-model="password"
           class="form-control"
           placeholder="password"/>
    <span ng-show="model.passerror">
            <h3 class="alert alert-danger">{{model.passerror}}</h3>
    </span>
    <input type="password"
           ng-model="verifyPassword"
           id="verifyPassword"
           class="form-control"
           placeholder="verify password"/>
    <span ng-show="model.vpasserror">
            <h3 class="alert alert-danger">{{model.vpasserror}}</h3>
    </span>
    <a class="btn btn-primary btn-block"
       ng-click="model.register(username,password,verifyPassword)">
        Register
    </a>
    <a class="btn btn-danger  btn-block"
       href="#!/login">Cancel</a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right paddingRight">
        </div>
    </div>
</nav>