@import url('https://fonts.googleapis.com/css?family=Exo:700i');

body {
    background-color: #f8f8f8;
    padding-top: 70px;
    padding-bottom: 50px;
    padding: 20px;
}
.wrap-login{
    padding:20px;
    background-color: #fff;
    border: solid 1px #d0d0d0;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(138,149,219,0.37);
    -moz-box-shadow: 10px 10px 5px 0px rgba(138,149,219,0.37);
    box-shadow: 10px 10px 5px 0px rgba(138,149,219,0.37);
}
.login-heading{
    margin-bottom: 30px;
}
.logo{
    padding: 10px;
    font-family: 'Exo', sans-serif;
    font-size: 28px;
    color: red;
}
.forgot-password{
    padding-top: 20px;
}

body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.search-box{
    padding-top: 50px;
}
.time-ago{
    font-size: 12px;
    font-family:cursive;
}
.your-posts{
    padding-top:100px;
}
.tnail{
    padding-top: 20px;
}