<div class="form-group">
    <label for="name"> Name</label>
    <input class="form-control"
           ng-model="model.widget.name"
           id="name"
           value=""
           placeholder="image name">
    <label for="text"> Text</label>
    <input class="form-control"
           ng-model="model.widget.text"
           id="text"
           value=""
           placeholder="image text">
    <label for="url"> URL</label>
    <input class="form-control"
           ng-model="model.widget.url"
           id="url"
           value="https://test.com"
           placeholder="image url">
    <label for="width"> Width</label>
    <input class="form-control"
           ng-model="model.widget.width"
           id="width"
           value="100%"
           placeholder="image width">
    <a class ="btn btn-block btn-info" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/search">
        Search
    </a>

    <form action="/api/upload"   method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
        <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
        <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
    </form>



    <!--<label for="upload"> Upload</label>
    <input class="form-control btn-file"
           id="upload"
           type="file">

    <a href="widget-list.view.client.html" class="btn btn-primary btn-block"> Upload Image</a>-->
    <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block"> Delete</a>
</div>