<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left paddingExtra">
            <a class="navbar-link" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left pull-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right paddingExtra">
            <a class="navbar-link"ng-click="model.updateWidget(model.widget)">
                <span class="glyphicon glyphicon-ok pull-right"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand no-left-padding no-left-margin" href="">
                Widget Edit
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ng-include src="model.editWidgetUrl(model.widget)"></ng-include>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right paddingRight">
            <a href="#!/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>