<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand text-center logo" href="#!/">YaOrNa</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav pull-right">
                <li class=><a href="#!/register">Register</a></li>
                <li><a href="#!/login">Login</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container-fluid">
    <div class="col-md-4 col-md-offset-4">
        <h1 class="text-center logo">YaOrNa</h1>
    </div>

    <div class="wrap-login col-md-4 col-md-offset-4">
        <span ng-show="model.message">
            <p class="alert alert-warning">{{model.message}}</p>
        </span>
        <span ng-show="model.error">
            <p class="alert alert-danger">{{model.error}}</p>
        </span>
        <h2 class="login-heading">Register</h2>
        <div class="form-group">
            <label>Username</label>
            <input ng-model="username"
                   type="text"
                   class="form-control"
                   placeholder="username"/>
            <span ng-show="model.unameerror">
            <p class="alert alert-danger">{{model.unameerror}}</p>
            </span>
            <label>Password</label>
            <input ng-model="password"
                   type="password"
                   class="form-control"
                   id="password"
                   placeholder="Password"/>
            <span ng-show="model.passerror">
            <p class="alert alert-danger">{{model.passerror}}</p>
            </span>
            <label>Verify Password</label>
            <input ng-model="verifyPassword"
                   type="password"
                   class="form-control"
                   id="verifyPassword"
                   placeholder="Verify Password"/>
            <span ng-show="model.vpasserror">
                <p class="alert alert-danger">{{model.vpasserror}}</p>
            </span>
            <label for="userType">User Type</label>
            <select class="form-control" id="userType" ng-model="userType">
                <option value="0">---select---</option>
                <option value="USER">User</option>
                <option value="RESTAURANT">Restaurant</option>
            </select>
        </div>
        <a class="btn btn-success btn-block"
           ng-click="model.register(username,password,verifyPassword, userType)">Register</a>
    </div>
</div>

</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right paddingRight">
        </div>
    </div>
</nav>
