<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand text-center logo" href="#!/">YaOrNa</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav pull-right">
                <li ng-if="model.user._id"><a href="#!/profile">{{model.user.username}}</a></li>
                <li ng-if="model.user._id"><a ng-click="model.logout()" href="">Logout</a></li>
                <li ng-if="model.user._id==undefined"><a href="#!/register">Register</a></li>
                <li ng-if="model.user._id==undefined"><a href="#!/login">Login</a></li>
                <li ng-if="model.user.roles.indexOf('ADMIN')  > -1"><a href="#!/admin">Admin Dashboard</a></li>
            </ul>
            <div class="input-group col-md-4 col-md-offset-4">
                <input ng-model="searchText" placeholder="search food or user or posts" ng-keyup="model.search(searchText)" type="text" class="form-control">
                <!--<input type="text" class="form-control" placeholder="Search" ng-model="searchText">-->
                <div class="input-group-btn">
                    <a class="btn btn-default" ng-click="model.search(searchText)"><i
                            class="glyphicon glyphicon-search"></i></a>
                </div>
            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container-fluid" ng-if="model.user.username &&(model.searchText=='' || model.searchText==undefined)">
    <div class="col-xs-12 col-sm-3 col-md-3 tnail" ng-repeat="post in model.posts">
        <div class="thumbnail">
            <div class="embed-responsive embed-responsive-4by3">
                <a ng-if="model.user._id != post._user" href="#!/profile/post._user">
                    <p class="user-name">{{post.username}}</p>
                </a>
                <a ng-if="model.user._id == post._user" href="#!/profile">
                    <p class="user-name">{{post.username}}</p>
                </a>
                <a href="#!/post/{{post._id}}">
                    <p>{{post.description}}</p>
                </a>
                </a>
                <!--<a ng-if="post._fatsecret" href="#!/post/fatsecret/{{post._fatsecret._id}}">-->
                    <!--<p>{{post.description}}</p>-->
                <!--</a>-->
                <p>
                <p class="location-home-display">{{post.location}}</p>
                <p>
            </div>
            <div class="caption">
                <a class="btn btn-success" href="" ng-click="model.ya(post)">{{post.ya.count}} Ya</a>
                <a class="btn btn-danger pull-right" href="" ng-click="model.na(post)">{{post.na.count}} Na</a>
                <!--<a class="btn btn-info" ng-click="model.ya(post)">Ya {{post.ya.count}}</a>-->
                 <!--<a class="btn btn-warning" ng-click="model.na(post)">Na</a>-->
            </div>
        </div>
    </div>
</div>

    <div ng-if="model.user.username==undefined || model.searchText" class="container-fluid">
        <div ng-if="model.foodSearchResults" class="col-xs-12 col-sm-4 col-md-4 col-md-4">
            <h6 class="your-posts">Food Items </h6>
            <ul class="list-group">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-md-6">
                            Food Name
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-md-6 visible-lg">
                            Food Description
                        </div>
                    </div>
                </li>
                <li class="list-group-item borderless" ng-repeat="food in model.foodSearchResults">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-md-6">
                            <p>{{food.food_name}}</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-md-6">
                            <p>{{food.food_description}}</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-md-6">
                            <a ng-if="model.user._id" class="btn btn-success" href="" ng-click="model.postFatsecret(food)">Post</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div ng-if="model.userSearchResults" class="col-xs-12 col-sm-4 col-md-4 col-md-4">
            <h6 class="your-posts">Users </h6>
            <ul class="list-group">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-md-6">
                            Username
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-md-6 visible-lg">
                            Action
                        </div>
                    </div>
                </li>
                <li class="list-group-item borderless" ng-repeat="userSearchResult in model.userSearchResults">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-md-6" ng-if="model.user._id != userSearchResult._id">
                            <a href="#!/profile/{{userSearchResult._id}}">
                                {{userSearchResult.username}}
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-md-6" ng-if="model.user._id == userSearchResult._id">
                            <a href="#!/profile">
                                {{userSearchResult.username}}
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-md-6 " ng-if="model.user.roles.indexOf('RESTAURANT')<0">
                            <a class="btn btn-warning"
                               ng-if="model.userFollowStatus(userSearchResult)=='Unfollow'"
                               ng-click="model.deleteFollow(userSearchResult)">{{model.userFollowStatus(userSearchResult)}}
                            </a>
                            <a class="btn btn-info"
                               ng-if="model.userFollowStatus(userSearchResult)=='Follow'"
                               ng-click="model.addFollow(userSearchResult)">{{model.userFollowStatus(userSearchResult)}}
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


        <div ng-if="model.postSearchResults" class="col-xs-12 col-sm-4 col-md-4 col-md-4">
            <h6 class="your-posts">Posts </h6>
            <ul class="list-group">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-md-6">
                            Description
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-md-6 visible-lg">
                            Created
                        </div>
                    </div>
                </li>
                <li class="list-group-item borderless" ng-repeat="postSearchResult in model.postSearchResults">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-md-6">
                            <a href="#!/post/{{postSearchResult._id}}">
                                {{postSearchResult.description}}
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-md-6">
                            {{model.timeSince(postSearchResult.dateCreated)}}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div><!-- /.container -->