<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a class="navbar-link" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/">
                    <span class="glyphicon glyphicon-chevron-left pull-left"></span>
                </a>
            </div>

            <div class="navbar-header">
                <a class="navbar-brand">
                    Pages
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a class="navbar-link" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="navbar-text pull-left visible-xs">
                <a class="navbar-link" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>

            <div class="navbar-text pull-right">
                <a ng-click="model.updatePage(model.page)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>

            <div class="navbar-header">
                <a class="navbar-brand"> Edit Page</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="col-sm-4 hidden-xs">
        <div class="panel panel-primary">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="page in model.pages">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                        {{page.name}}
                    </a>
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 padddingTop borderLeft">
        <label for="name"> Name</label>
        <input class="form-control"
               ng-model="model.page.name"
               type="text"
               id="name"
               placeholder="Page Name">
        <label for="title">Title</label>
        <input class="form-control"
               ng-model="model.page.description"
               id="title"
               placeholder="Page Title">
        <a ng-click="model.deletePage(model.page._id)" class="btn btn-danger btn-block"> Delete</a>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right paddingRight">
            <a href="#!/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>